<?xml version='1.0' encoding='utf-8'?>
<widget id="com.vientollc.simplepay" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>SimplePay</name>
    <description>
        SimplePay Payment Gateway Mobile App
    </description>
    <author email="rjohn@vientollc.com" href="http://www.vientollc.com">
        Robert John
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <icon src="icon.png" width="128" height="128" />
    <icon gap:platform="android" src="res/icon/android/icon-36-ldpi.png" width="36" height="36" />
    <icon gap:platform="android" src="res/icon/android/icon-48-mdpi.png" width="48" height="48" />
    <icon gap:platform="android" src="res/icon/android/icon-72-hdpi.png" width="72" height="72" />
    <icon gap:platform="android" src="res/icon/android/icon-96-xhdpi.png" width="96" height="96" />
    <icon gap:platform="blackberry" src="res/icon/blackberry/icon-80.png" width="80" height="80" />
    <icon gap:platform="blackberry" gap:state="hover" src="res/icon/blackberry/icon-80.png" width="80" height="80" />
    <icon gap:platform="ios" src="res/icon/ios/icon-57.png" width="57" height="57" />
    <icon gap:platform="ios" src="res/icon/ios/icon-72.png" width="72" height="57" />
    <icon gap:platform="ios" src="res/icon/ios/icon-57-2x.png" width="114" height="114" />
    <icon gap:platform="ios" src="res/icon/ios/icon-72-2x.png" width="144" height="144" />
    <icon gap:platform="webos" src="res/icon/webos/icon-64.png" width="64" height="64" />
    <icon gap:platform="winphone" src="res/icon/windows-phone/icon-48.png" width="48" height="48" />
    <icon gap:platform="winphone" src="res/icon/windows-phone/icon-173.png" width="173" height="173" />
</widget>
