<?xml version='1.0' encoding='utf-8'?>
<widget id="com.vientollc.simplepay" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>SimplePay</name>
    <description>
        SimplePay Payment Gateway Mobile App
    </description>
    <author email="rjohn@vientollc.com" href="http://www.vientollc.com">
        Robert John
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <icon src="icon.png" width="128" height="128" />
    <icon src="res/icon/android/icon-36-ldpi.png" gap:platform="android" width="36" height="36" />
    <icon src="res/icon/android/icon-48-mdpi.png" gap:platform="android" width="48" height="48" />
    <icon src="res/icon/android/icon-72-hdpi.png" gap:platform="android" width="72" height="72" />
    <icon src="res/icon/android/icon-96-xhdpi.png" gap:platform="android" width="96" height="96" />
</widget>
